<!DOCTYPE HTML>


<html>
    <head>
        <title>Artisano</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body>

        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><a href="#">Artisano  <span>by ZAITECH</span></a></div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="#banner">Home</a></li>
                    <li><a href="#four">Contact Us</a></li>
                </ul>
            </nav>

        
    
            <section id="banner" >
                <div class="inner">
                    <h1>Welcome To Artisano</h1>
                    <p>A one stop to know about your favourite Artists, Albums and Tracks which you would love to hear...<br />
                    built by <a href="https://templated.co/">Zaitech</a> and released under the <a href="https://templated.co/license">Creative Commons</a>.</p>
                    <a href="#two" class="button special scrolly">Get Started</a>
                </div>
            </section>



        <!-- Two -->
            <section id="two" class="wrapper style3">
                <div class="inner">
                    <div id="flexgrid">
                        <div>
                            <header>
                                <h3>View Artists</h3>
                            </header>
                            <p>There have been loads of music artists who have touched our souls with their melodious rhymes. View your favourite artists to know about them, their active years in the industry and the albums in which they have worked.</p>
                            <ul class="actions">
                                <li><a href="/artists" class="button alt">View Artists</a></li>
                            </ul>
                        </div>
                        <div>
                            <header>
                                <h3>View Albums</h3>
                            </header>
                            <p>View Albums of your favourite choice to listen to exuberating voices which will allow you to rejuvenate and refreshen yourself. View Albums to know the artists who were a part of the album and the release date of the album. </p>
                            <ul class="actions">
                                <li><a href="/albums" class="button alt">View Albums</a></li>
                            </ul>
                        </div>
                        <div>
                            <header>
                                <h3>View Tracks</h3>
                            </header>
                            <p>An album would contain numerous tracks. A number of soothing by india;s best music artists are available in our tracks section. View your favourite tracks to know the albums to which they belong along with their playtime.</p>
                            <ul class="actions">
                                <li><a href="/tracks" class="button alt">View Tracks</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        


        <!-- Four -->
            <section id="four" class="wrapper style3">
                <div class="inner">

                    <header class="align-center">
                        <h2>Artisano by Zaitech</h2>
                        <p>Artisano is a web portal designe and developed by ZAITECH TECHNOLOGIES PVT.LIMITED. Artisano helps the users to surf their favourite artists, albums and the tracks which still refreshen their mood when they listem to them. For any assistance <b><i>Contact Us </i>: S.Pace, 10 Number Market, Bhopal <i> Mobile: </i> +91-9824022537</b> </p>
                    </header>

                </div>
            </section>

        

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
