<!DOCTYPE HTML>
<html>
    <head>
        <title>Create New Artist - Artisano</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body class="subpage">

        <!-- Header -->
            <header id="header">
                <div class="logo"><a href="Homepagetask1.html">Artisano <span>by ZAITECH</span></a></div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#four">Contact Us</a></li>
                    
                </ul>
            </nav>

            <section class="wrapper style2">

                                <!-- Form -->
                                <div class="container">
                                

                                    <form method="POST" action="/artists">

                                        <h3>CREATE A NEW ARTIST</h3>

                                        <div class="row uniform">
                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="Name" placeholder="Artist Name" required>
                                            </div>
                                         
                                            <div class="6u$ 12u$(xsmall)">
                                                <input type="number" name="YearsActive" placeholder="Years Active" required>
                                            </div>
                                         
                                            <div class="12u$">
                                                <textarea name="Description" placeholder="Description About The Artist" rows="6" required></textarea>
                                            </div>
                                          
                                            <div class="3u$ 12u$(small)">
                                                <input type="submit" value="Submit" class="fit" />
                                            </div>
                                        </div>
                                
                                    </form>
                                </div>


            </section>

        <!-- Four -->
            <section id="four" class="wrapper style3">
                <div class="inner">

                    <header class="align-center">
                        <h2>Artisano by ZAITECH</h2>
                        <p>Artisano is a web portal designe and developed by ZAITECH TECHNOLOGIES PVT.LIMITED. Artisano helps the users to surf their favourite artists, albums and the tracks which still refreshen their mood when they listem to them. For any assistance <b><i>Contact Us </i>: S.Pace, 10 Number Market, Bhopal <i> Mobile: </i> +91-9824022537</b> </p>
                    </header>

                </div>
            </section>


        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
